  @font-face {
    /*добавляетет требуемую типографию*/
    font-family: 'fontello';
    /*задаем шрифт*/
    src: url('../font/fontello.eot?44103168');
    src: url('../font/fontello.eot?44103168#iefix') format('embedded-opentype'),
      url('../font/fontello.woff2?44103168') format('woff2'),
      url('../font/fontello.woff?44103168') format('woff'),
      url('../font/fontello.ttf?44103168') format('truetype'),
      url('../font/fontello.svg?44103168#fontello') format('svg');
    font-weight: normal;
    /*нежирный*/
    font-style: normal;
    /*стилизация обычная*/
  }

  body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
  }

  .header {
    width: 900px;
    margin: 40px auto;
    /*розміш шрифту*/
    font-size: 0.85em;
    /*чорна сплошна граница*/
    border: #000 2px solid;
    /*фон*/
    /*background-color: aqua;*/

  }

  .header_profile_logotype {
    /*обтекание блока текстом*/
    float: left;
    width: 25%;
    position: relative;
    min-width: 80px;
    border: rgb(66, 33, 158) 2px solid;
  }

  #header_logotype_1 {
    position: relative;
    z-index: 3;
  }

  #header_logotype_2 {
    position: absolute;
    left: 0px;
    z-index: 2;
  }

  #header_logotype_1:hover {
    z-index: 1;
  }

  .header_h1 {
    /*обтекание блока текстом*/
    float: left;
    width: 50%;
    min-width: 125px;
    border: rgb(187, 85, 85) 2px solid;
  }

  .header_h1 h1 {
    padding: 0 0 0 15%;
    /*текст с тенью */
    text-shadow: #fff -1px -1px 0, #333 1px 1px 0;
  }

  .header_profile_list {
    /*обтекание блока текстом*/
    float: right;
    width: 20%;
    border: rgb(31, 179, 88) 2px solid;
  }

  .header_profile_list_novigator {
    padding: 5%;
    width: 100%;
  }

  .header_profile::after {
    /* костиль в конце поля виртуальный тег, чтоб блоки  flout не выпадали*/
    content: "";
    display: table;
    clear: both;
  }


  .header_novigator {
    width: auto;
    border: rgb(151, 180, 19) 2px solid;
    /*центруємо текст*/
    text-align: center;
  }

  .header_novigator_list li {
    /* Отображать как строчный элемент */
    display: inline;
    padding-right: 5%;
  }


  .footer {
    width: 900px;
    margin: 40px auto;
    /*чорна сплошна граница*/
    border: #000 2px solid;
    /*фон*/
    background-color: rgb(36, 197, 103);
  }

  .footer h3 {
    margin: auto;
    padding: 1%;
  }

  .footer_contacs {
    float: left;
    width: 30%;
    border: rgb(204, 144, 32) 2px solid;
  }

  .footer_contacts_section li {
    padding: 2%;
  }

  .footer_messager {
    float: right;
    width: 65%;
    height: 90px;
    text-align: center;
    border: rgb(32, 13, 136) 2px solid;
  }

  .footer_messager_list {
    border: rgb(230, 155, 18) 2px solid;
    margin: 0;
  }

  .footer_messager_list li {
    display: inline;
  }

  .footer::after {
    content: "";
    display: table;
    clear: both;
  }

  .footer_messager_list img {
    margin: 16px 5px 16px 5px;
  }

  .footer_messager_list img:hover {
    width: 60px;
    margin: 10px 0 10px 0;
  }

  .footer_messager_list img:active {
    width: 40px;
    margin: 20px 10px 20px 10px;
  }




  .main_container {
    display: flex;
    flex-direction: row-reverse;
    width: 900px;
    background-color: #fff;
    margin: 40px auto;
    border: rgb(0, 0, 0) 2px solid;
  }

  .main_content_section_right {
    padding: 1%;
    width: 65%;
    border: rgb(145, 76, 76) 2px solid;
  }

  .main_content_section_left {
    padding: 1%;
    width: 33%;
    border: rgb(38, 19, 122) 2px solid;
  }